_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db

# sublime
*.sublime-workspace
*.sublime-project

# wordpress specific
wp-config.php
wp-content/blogs.dir/
wp-content/upgrade/*
wp-content/backup-db/*
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/*
wp-content/cache/supercache/*
wp-content/uploads/*

# grunt
node_modules
