.cookie-message {
	background:#d9edf7;
	border-top:#bce8f1 solid 1px;	
	border-bottom:#bce8f1 solid 1px;
	height:50px;
	margin:-40px 0 40px 0;
	display:none;
}
.cookie-message .row {
	position: relative;
}
.cookie-message p {
	margin:0;
	padding-right:30px;
	color:#31708f;
	position: absolute;
	top:15px;
	left:15px;
}
.my-close-button {
	position: absolute;
	top:17px;
	right:15px;
	cursor:pointer;
}

.app-submission-form .cookie-message[style], .app-thank-you-page .cookie-message[style], .submit-app .cookie-message[style] {
	display:none !important;
}